.input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 731px;
  height: 48px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: #e1e5eb;
  background-color: white;
}
.headerInput {
  width: 631px;
  height: 32px;
  border-radius: 8px;
  border: none;
  outline: none;
}
.cancel {
  background-image: url('../../assets/icon/cancel.svg');
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  right: 10px;
}
.search {
  background-image: url('../../assets/icon/search.svg');
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}